<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dayi.dy_rate">

    <application
        android:name="com.dayi35.qx_base.CommonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/rate_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/rate_network_config"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/rate_them"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.dayi.dy_rate.BmobContentProvider">
        </provider>

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--项目组列表-->
        <activity android:name=".ui.activity.ProjectTeamListActivity"
            android:launchMode="singleTask"/>

        <!--项目组编辑-->
        <activity android:name=".ui.activity.EditProjectTeamActivity"/>

        <!--项目列表-->
        <activity android:name=".ui.activity.ProjectListActivity"/>

        <!--项目编辑-->
        <activity android:name=".ui.activity.EditProjectActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!--项目预览-->
        <activity android:name=".ui.activity.ProjectPreviewActivity"/>

    </application>

</manifest>