<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dayi.dy_rate">

    <application
        android:name="com.dayi35.qx_base.CommonApp"
        android:allowBackup="true"
        android:icon="@mipmap/rate_ic_launcher"
        android:label="@string/rate_name"
        android:roundIcon="@mipmap/rate_ic_launcher"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/rate_network_config"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/rate_them"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--项目列表-->
        <activity android:name=".ui.activity.ProjectListActivity"
            android:launchMode="singleTask"/>

        <!--项目编辑-->
        <activity android:name=".ui.activity.ProjectUpdateActivity"/>

        <!--项目详情-->
        <activity android:name=".ui.activity.ProjectDetailActivity"/>

        <!--组件详情-->
        <activity android:name=".ui.activity.ModuleDetailActivity"/>

        <!--组件更新界面-->
        <activity android:name=".ui.activity.ModuleUpdateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!--功能详情界面-->
        <activity android:name=".ui.activity.ComponentDetailActivity"/>

        <!--功能更新界面-->
        <activity android:name=".ui.activity.ComponentUpdateActivity"/>

    </application>

</manifest>